<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631807737553-f610p5e4446a3o7u1vj25g4tmqi923qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631807737553-f610p5e4446a3o7u1vj25g4tmqi923qk</string>
	<key>API_KEY</key>
	<string>AIzaSyCsWuaSVduePDZfYJMKVCzH60s_5mvIUdA</string>
	<key>GCM_SENDER_ID</key>
	<string>631807737553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jung-Co.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-1fc73</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1fc73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631807737553:ios:211695a8ef8d063bb88ff0</string>
</dict>
</plist>